body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

.page-enter-active,
.page-leave-active {
    transition: all 0.2s;
}
.page-enter,
.page-leave-to {
    transform: translateY(5px) scale(0.98);
    opacity: 0;
}